[submodule "chef/cookbooks/mongodb"]
	path = chef/cookbooks/mongodb
	url = https://github.com/chaosprinz/chef-mongodb
[submodule "chef/cookbooks/nodejs"]
	path = chef/cookbooks/nodejs
	url = https://github.com/chaosprinz/nodejs
[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/chaosprinz/apt
