[submodule "chef/cookbooks/mongodb"]
	path = chef/cookbooks/mongodb
	url = https://github.com/chaosprinz/chef-mongodb
[submodule "chef/cookbooks/nodejs"]
	path = chef/cookbooks/nodejs
	url = https://github.com/chaosprinz/nodejs
[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/chaosprinz/apt
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = https://github.com/chaosprinz/build-essential
[submodule "chef/cookbooks/python"]
	path = chef/cookbooks/python
	url = https://github.com/chaosprinz/python
[submodule "chef/cookbooks/yum-epel"]
	path = chef/cookbooks/yum-epel
	url = https://github.com/chaosprinz/yum-epel
[submodule "chef/cookbooks/yum"]
	path = chef/cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum
[submodule "chef/cookbooks/ark"]
	path = chef/cookbooks/ark
	url = https://github.com/burtlo/ark
