[submodule "chef/cookbooks/mongodb"]
	path = chef/cookbooks/mongodb
	url = https://github.com/chaosprinz/chef-mongodb
[submodule "chef/cookbooks/nodejs"]
	path = chef/cookbooks/nodejs
	url = https://github.com/chaosprinz/nodejs
[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/chaosprinz/apt
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = https://github.com/chaosprinz/build-essential
[submodule "chef/cookbooks/python"]
	path = chef/cookbooks/python
	url = https://github.com/chaosprinz/python
[submodule "chef/cookbooks/yum-epel"]
	path = chef/cookbooks/yum-epel
	url = https://github.com/chaosprinz/yum-epel
[submodule "chef/cookbooks/yum"]
	path = chef/cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum
[submodule "chef/cookbooks/ark"]
	path = chef/cookbooks/ark
	url = https://github.com/burtlo/ark
[submodule "chef/cookbooks/nodejs-dev-env-setup"]
	path = chef/cookbooks/nodejs-dev-env-setup
	url = https://github.com/chaosprinz/nodejs-dev-env-setup.git
[submodule "chef/cookbooks/oh-my-zsh"]
	path = chef/cookbooks/oh_my_zsh
	url = https://github.com/shingara/oh-my-zsh-chef
[submodule "chef/cookbooks/git"]
	path = chef/cookbooks/git
	url = https://github.com/jssjr/git
[submodule "chef/cookbooks/dmg"]
	path = chef/cookbooks/dmg
	url = https://github.com/opscode-cookbooks/dmg
[submodule "chef/cookbooks/runit"]
	path = chef/cookbooks/runit
	url = https://github.com/hw-cookbooks/runit
[submodule "chef/cookbooks/windows"]
	path = chef/cookbooks/windows
	url = https://github.com/opscode-cookbooks/windows
[submodule "chef/cookbooks/chef_handler"]
	path = chef/cookbooks/chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler
